<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <th:block th:replace="components/imports"/>
</head>
<body>
    <th:block th:replace="components/navbar"/>
    <div class="container">
        <h1>Productos</h1>
        <hr>
        <div class="row">
            <div class="col-md-2">nombre</div>
            <div class="col-md-2">descripcion</div>
            <div class="col-md-2">precio</div>
            <div class="col-md-2"> stock</div>
            <div class="col-md-2">impuesto</div>
            <div class="col-md-2">categoria</div>
        </div>
        <th:block th:each="producto: ${productos}">
            <form class="row my-2" th:action="@{/emp/productos/edit}" th:method="POST">
                <div class="col-md-2">
                    <input type="hidden" name="id" th:value="${producto.id}">
                    <input type="text" placeholder="nombre" name="nombre" th:value="${producto.nombre}">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="descripcion" name="descripcion" th:value="${producto.descripcion}">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="precio" name="precio"
                           th:value="${producto.precio}">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="stock" name="stock"
                           th:value="${producto.stock}">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="impuesto" name="impuesto"
                           th:value="${producto.impuesto}">
                </div>
                <div class="col-md-2">

                    <select name="idCategoria">
                        <option value="" disabled selected>Seleccione una categoria</option>
                        <th:block th:each="categoria: ${categorias}">
                            <option th:value="${categoria?.id}" th:text="${categoria.nombre}" th:Selected="${categoria?.id==producto?.idCategoria}">${categoria.nombre}</option>
                        </th:block>
                </div>
                <div class="col-md-2 p-2">
                    <input class="btn btn-primary" type="submit" value="modificar">
                    <button th:if="${session?.usuario?.rolesByIdRol?.rol=='admin'}" data-th-attr="data-id=${producto.id}" class="btn btn-danger" onclick="deleteProducto(event)">eliminar</button>
                    <!--                    <button data-th-attr="data-id=${user.id}" class="btn btn-danger" onclick="deleteUser(event)">eliminar</button>-->
                </div>
            </form>

        </th:block>

</body>
</html>