<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <div th:replace="components/imports"></div>
</head>
<body>
<div th:replace="components/navbar"></div>
<main>
    <aside></aside>
    <section>
        <h1>Carrito</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry: ${session.carrito}">
                <td th:text="${entry.value?.nombre}"></td>
                <td th:text="${entry.value?.cantidad}"></td>
                <td th:text="${entry.value?.precio}"></td>
                <td th:text="${entry.value?.precio * entry.value?.cantidad}"></td>
            </tr>
            <tr>
                <td>total</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<div th:replace="components/footer"></div>
</body>
</html>