<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <div th:replace="components/imports"></div>
</head>
<body>
<div th:replace="components/navbar"></div>
<main>
    <aside></aside>
    <section>
        <h1>Carrito</h1>
        <hr>
        <form th:action="@{/carrito/comprar}" method="POST">
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry: ${session.carrito}">
                <td th:text="${entry.value?.nombre}">nombre</td>
                <td th:text="${entry.value?.cantidad}">cantidad</td>
                <td th:text="${entry.value?.precio}">precia</td>
                <td th:text="${entry.value?.precio * entry.value?.cantidad}">total</td>
            </tr>

            <tr>
                <td>total</td>
                <td th:text="${session.total}">total compra</td>
            </tr>
            </tbody>
        </table>
        <div>
            <div>
                <label>metodo de pago:</label>
                <select name="metodo">
                    <option value="Tarjeta">Tarjeta de credito</option>
                    <option value="Paypal">Paypal</option>
                </select>
            </div>
            <div class="buttons">
                <a class="btn btn-primary" th:href="@{/}">Volver</a>
                <input type="submit" class="btn btn-primary" value="Comprar">
            </div>
        </div>
        </form>
    </section>
</main>
<div th:replace="components/footer"></div>
</body>
</html>