<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="components/imports"></div>
</head>
<body>
<nav th:replace="components/navbar"></nav>
<main>
    <aside></aside>
    <section>
        <h1>Catalogo</h1>
        <hr>
        <div class="d-flex flex-row flex-wrap justify-content-center">

            <div class="card w-25 mx-2 my-4 d-flex flex-column" th:each="Producto: ${list}">
                <a th:href="@{/producto/{id}(id=${Producto.id})}">
                    <img class="card-img-top" th:src="${Producto.imagen}" alt="Card image cap" width="200px" height="140px">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${Producto?.nombre}">Nombre</h5>
                    <p class="card-text" th:text="${Producto?.descripcion}">descripcion</p>
                    <p class="card-text">
                        stock: <span th:text="${Producto?.stock}"></span>
                    </p>
                    <p class="card-text">
                        Precio: <span th:text="${Producto?.precio}"></span>
                    </p>
                    <div class="d-flex flex-row mb-2 justify-content-center">
                        <a class="btn btn-primary"
                           th:href="'carrito/'+${Producto?.id}+'?action=sumar'">+</a>
                        <div class="p-2 flex align-items-center"
                             th:text="${(session?.carrito?.get(Producto?.id)?.cantidad == null)?0:session.carrito.get(Producto.id).cantidad}">

                        </div>

                        <a class="btn btn-primary"
                           th:href="'carrito/'+${Producto?.id}+'?action=restar'">-</a>

                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-danger"
                           th:href="'carrito/'+${Producto?.id}+'?action=borrar'">borrar
                            del carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="components/footer"></footer>
</body>
</html>