<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:replace="components/imports"/>
</head>
<body class="vh-100">
<div th:replace="components/navbar"></div>
<div class="d-flex flex-column justify-content-center align-items-center h-75 w-auto">
    <form th:action="@{/login}" th:method="post" th:Object="${usuario}" class="d-flex flex-column justify-content-center align-items-center h-75">
        <h1>Login</h1>
        <input type="text" th:field="*{email}" name="email" placeholder="Email" class="m-2 p-2 border-0 border-bottom border-dark">
        <input type="password" th:field="*{clave}" name="clave" id="clave" class="m-2 p-2 border-0 border-bottom border-dark">
        <p>no te has registrado , registrate <a th:href="@{/login}">aqui</a></p>

        <input type="submit" value="login" class="btn btn-dark text-white">
    </form>
</div>
<div th:replace="components/footer"></div>
</body>
</html>